<p id="notice"><%= notice %></p>
<div class="page-header">
<h1>All of the Statuses</h1>
</div>
<div class="row">
  <%= link_to 'Post a New Status', new_status_path, class: "btn btn-success" %>
  <% @statuses.each do |status| %>
  <div class="col-md-12">
    <h3><%= status.name %></h3>
    <p><%= status.content %></p>
    <div class="meta">
    <b>Posted on: </b><em><%= link_to time_ago_in_words(status.created_at) +" ago", status %></em><br>
    <%= link_to 'Show', status %> 
    <div class="admin">|
    <%= link_to 'Edit', edit_status_path(status) %> |
    <%= link_to 'Destroy', status, method: :delete, data: { confirm: 'Are you sure?' }%>
  </div>
  </div>
    
  </div>
  <%end%>
</div>




<br>


